section{
    font-weight: bold;
    color:blue;
    background-color: rgb(146, 199, 217);
    text-align: center;
}
section:hover{
    background-color: tomato;
}

div{
    font-weight: bold;
    color: green;
    background-color: chartreuse;
    text-align: center;
}

div:hover{
    background-color: yellow;
}

p:hover{
    background-color: gray;
}

.general{
    color:orange;
    font-size: 17pxpx;
    font-weight: bold;
    text-decoration: dashed;
}
.general:hover{
    background-color:khaki;
}
